{% extends '_layout.html' %}

{% block content %}
<h1>Upload Your Images</h1>

<br>

<form action="{{ url_for('images.create') }}" method='POST' enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="form-group">
        <label for="user_file">Upload Image</label>
        <input type="file" name="user_image" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
</form>

{% endblock %}